<!DOCTYPE>
<html>
<head>
  <title>BONtime</title>
</head>
<body>
  <div class="homes_container">
  <h1 style="margin:20px">b.on time</h1>
  <div class="outer_face">

    <div class="marker oneseven"></div>
    <div class="marker twoeight"></div>
    <div class="marker fourten"></div>
    <div class="marker fiveeleven"></div>

    <div class="inner_face">

      <div class="hand hour"></div>
      <div class="hand minute"></div>
      <div class="hand second"></div>

    </div>

  </div>

  <p style="text-shadow:1px 1px black">The social app that helps you and your friends get where you're going... at the right time</p>
  </div>

</body>
</html>

